.navbar-custom {
  background: linear-gradient(to right, #0078D7 0%, #1E1E1E 100%);
}

.navbar-custom .navbar-nav .nav-link {
  color: white;
}

body {
  /* background-image: url('../assets/torbjorn-helgesen-C4FbCe4L_pw-unsplash.jpg'); */
  /* background-repeat: no-repeat;
  background-size: cover; */
}